#crystal {
font-size: 18px;
}



#redGem {
    color: black;
    padding: 10px;
    font-size: 20px;
    font-weight: bolder;
    background-color: red;
    border-color: pink;
}
#blueGem {
    color: black;
    padding: 10px;
    font-size: 20px;
    font-weight: bolder;
    background-color: blue;
    border-color: lightblue;
}
#yellowGem {
    color: black;
    padding: 10px;
    font-size: 20px;
    font-weight: bolder;
    background-color: yellow;
    border-color: lightyellow;
}
#greenGem {
    color: black;
    padding: 10px;
    font-size: 20px;
    font-weight: bolder;
    background-color: green;
    border-color: lightgreen;
}
